In [1]:
import requests
import json
import html
import pandas as pd
import time
import numpy as np
import matplotlib.pyplot as plt
import unicodedata
import re

C:\Users\Karina\miniconda3\lib\site-packages\requests\__init__.py:109: RequestsDependencyWarning: urllib3 (2.2.2) or chardet (3.0.4)/charset_normalizer (2.0.4) doesn't match a supported version!
  warnings.warn(

In [2]:
# Function to remove special characters
def normalize_name(name):
    # Normalize to remove accents and special characters
    name = unicodedata.normalize('NFD', name)
    # Encode to ASCII and ignore errors, then decode back to string
    name = name.encode('ascii', 'ignore').decode('utf-8')
    return name

In [3]:

# # URL of the JSON file
# url = "https://itra.run/Races/RaceResults/TOR330.Tor.des.G%C3%A9ants%C2%AE/2023/80226"

# # Send a GET request to fetch the JSON data
# response = requests.get(url)
# response

In [4]:
years = [ 
        '2024', # NO DNFs! AAAAAAAAAAAAAAAAAAh!
        '2023', # NO DNFs! AAAAAAAAAAAAAAAAAAh!
        '2022', 
        '2021',  # NO DNFs! AAAAAAAAAAAAAAAAAAh!
        '2020',
        '2019',
        '2018', 
#          '2017'
]

races = ['SwissPeaks360', 'SwissPeaks360_DUO']

#### Loading ITRA

In [5]:

SP_itra_df = {}
# races = ['TOR450']

for race in races:
    for year in years:
        try:

            file = f'Data/ITRA/TXT/{race}_{year}.txt'
            df = pd.read_csv(file, delimiter='\t', 
                         dtype={'Time': 'string'})    

            # renaming columns so it is easier later to compare
            df = df.rename(columns={"Runner": "Name",
                                    "Gender": "Gender",
                                    "Nationality": "ITRA_Nationality",
                                   })

            # change the name to a title case
            df['Name'] = df['Name'].str.title()
            df['Name'] = df['Name'].apply(normalize_name)
            

            # Convert 'Time' to timedelta format
            df['Duration'] = pd.to_timedelta(df['Time'], errors='coerce')
            # Calculate total seconds and create 'Duration_Seconds' column
            df['Duration_Seconds'] = df['Duration'].dt.total_seconds()


            df['Status'] = np.where(df['Duration'].isna(), 'DNF', 'Finished')
            df['Year'] = f'{year}'
            if race == 'SwissPeaks360':
                df['Race'] = 'SP360'
            else:
                df['Race'] = 'SP360D'

    #             # Drop the intermediate columns if they're no longer needed
            df = df.drop(columns=['Time', '#'])

            df['Name'] = df['Name'].str.strip()
            df['Name'] = df['Name'].str.replace(',', '')
            df['Name'] = df['Name'].str.replace('\'', '')
            df['Name'] = df['Name'].str.replace('-', '')
            df['Name'] = df['Name'].str.replace(r"\s+", " ")

    #             print(race, year, '\n', df.head())

            # Store the DataFrame in the dictionary with a key like 'TOR330_2021'
            SP_itra_df[f'{race}_{year}'] = df
            print('* ',f'{race}_{year} {df.shape}', '\n')
        except:

            if year == '2018' :
                pass
            elif year == '2019':
                pass
            else:
                print(f'issues with {race}_{year}')
                print(f'{file}')
                print('\n')

C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")

*  SwissPeaks360_2024 (133, 9)

*  SwissPeaks360_2023 (147, 9)

*  SwissPeaks360_2022 (228, 9)

*  SwissPeaks360_2021 (182, 9)

*  SwissPeaks360_2020 (218, 9)

C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")

*  SwissPeaks360_2019 (240, 9)

*  SwissPeaks360_2018 (300, 9)

*  SwissPeaks360_DUO_2024 (18, 9)

*  SwissPeaks360_DUO_2023 (14, 9)

C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\354103563.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")

*  SwissPeaks360_DUO_2022 (30, 9)

*  SwissPeaks360_DUO_2021 (14, 9)

*  SwissPeaks360_DUO_2020 (18, 9)

In [6]:
for race in races:
    for year in years:
        try:
            SP_year = SP_itra_df[f'{race}_{year}']
            # Count the occurrences of each status
            status_counts = SP_year['Status'].value_counts()
            print(race, year, '\n', status_counts, '\n', '*'*40)
        except:
            pass

SwissPeaks360 2024
 Finished    133
Name: Status, dtype: int64
 ****************************************
SwissPeaks360 2023
 Finished    147
Name: Status, dtype: int64
 ****************************************
SwissPeaks360 2022
 Finished    127
DNF         101
Name: Status, dtype: int64
 ****************************************
SwissPeaks360 2021
 Finished    182
Name: Status, dtype: int64
 ****************************************
SwissPeaks360 2020
 Finished    142
DNF          76
Name: Status, dtype: int64
 ****************************************
SwissPeaks360 2019
 Finished    146
DNF          94
Name: Status, dtype: int64
 ****************************************
SwissPeaks360 2018
 Finished    193
DNF         107
Name: Status, dtype: int64
 ****************************************
SwissPeaks360_DUO 2024
 Finished    18
Name: Status, dtype: int64
 ****************************************
SwissPeaks360_DUO 2023
 Finished    14
Name: Status, dtype: int64
 ****************************************
SwissPeaks360_DUO 2022
 Finished    16
DNF         14
Name: Status, dtype: int64
 ****************************************
SwissPeaks360_DUO 2021
 Finished    14
Name: Status, dtype: int64
 ****************************************
SwissPeaks360_DUO 2020
 Finished    12
DNF          6
Name: Status, dtype: int64
 ****************************************

In [7]:
# Append using pd.concat
SP_itra_df = pd.concat(SP_itra_df)
SP_itra_df = SP_itra_df.reset_index(drop = True)
SP_itra_df.isna().sum()

Name                  0
Age                   0
Gender                7
ITRA_Nationality      0
Duration            398
Duration_Seconds    398
Status                0
Year                  0
Race                  0
dtype: int64

In [8]:
SP_itra_df[SP_itra_df['Year'] == '2024']

,Name,Age,Gender,ITRA_Nationality,Duration,Duration_Seconds,Status,Year,Race
0,Collison Kim,44,M,GBR,3 days 15:09:32,313772.0,Finished,2024,SP360
1,Bourguignon Matthieu,45,M,FRA,4 days 02:00:06,352806.0,Finished,2024,SP360
2,Barbier Adrien,35,M,FRA,4 days 04:20:57,361257.0,Finished,2024,SP360
3,Galve Sainz De Varanda Jorge,39,M,ESP,4 days 04:20:57,361257.0,Finished,2024,SP360
4,Orradre Inigo,46,M,ESP,4 days 07:09:31,371371.0,Finished,2024,SP360
...,...,...,...,...,...,...,...,...,...
1461,Pirhonen Pasi,44,M,FIN,6 days 03:19:46,530386.0,Finished,2024,SP360D
1462,Alonso Ruben,50,M,ESP,6 days 04:43:49,535429.0,Finished,2024,SP360D
1463,Santiago Juan Caros,60,M,ESP,6 days 04:43:49,535429.0,Finished,2024,SP360D
1464,Chung Pak Hang,52,M,HKG,6 days 07:27:00,545220.0,Finished,2024,SP360D
1465,Li Mui Chun,55,F,HKG,6 days 07:27:00,545220.0,Finished,2024,SP360D

In [9]:
def categorize_age(age):
    if age < 40: # under40
        return 'SEN'
    elif age < 50: #40-49
        return 'V1'
    elif age < 60: #50-59
        return 'V2'
    elif age < 70: #60-69
        return 'V3'
    elif age >= 70:
        return 'V4' # Over 70
#     else:
#         return str(age)

SP_itra_df['Age'] = SP_itra_df['Age'].astype('str')
SP_itra_df['Age1'] = SP_itra_df['Age'].str.replace('-', '0')
SP_itra_df['Age1'] = SP_itra_df['Age1'].astype('int')
SP_itra_df['Age Category'] = SP_itra_df['Age1'].apply(categorize_age)

## EDA of ITRA

In [10]:
SP_itra_df[SP_itra_df['Gender'].isna()]

,Name,Age,Gender,ITRA_Nationality,Duration,Duration_Seconds,Status,Year,Race,Age1,Age Category
106,Ravat Olivier,44,NaN,CAN,6 days 02:39:29,527969.0,Finished,2024,SP360,44,V1
242,Grondin Eric,44,NaN,FRA,5 days 22:30:31,513031.0,Finished,2023,SP360,44,V1
339,Bryant Shane,44,NaN,USA,5 days 12:26:00,476760.0,Finished,2022,SP360,44,V1
363,Jones David,60,NaN,GBR,5 days 22:14:05,512045.0,Finished,2022,SP360,60,V3
444,Fleith Michel,44,NaN,FRA,NaT,NaN,DNF,2022,SP360,44,V1
552,Carlier Julien,42,NaN,FRA,5 days 02:48:27,442107.0,Finished,2021,SP360,42,V1
782,Milewicz Daniel,36,NaN,POL,4 days 17:51:24,409884.0,Finished,2020,SP360,36,SEN

In [11]:
SP_itra_df['Gender'] = SP_itra_df['Gender'].fillna('M')

### Extracting Finish Category

In [12]:
# Convert to timedelta and get total hours (handling NaT)
SP_itra_df['Duration_Hours'] = pd.to_timedelta(
    SP_itra_df['Duration'], errors='coerce').dt.total_seconds() / 3600  # Convert seconds to hours

# Create a new column 'Finish Category'
def categorize_duration(hours):
    if pd.isna(hours):
        return 'DNF'  # Handle NaT values
    elif hours < 50:
        return '40-49 hours'
    elif hours < 150:
        num = int(hours // 10) * 10
        num1 = num +9
        return f'{num}-{num1} hours'  # Round to nearest 10 up to 150
    elif hours <= 156:
        num = int(hours // 10) * 10
        num1 = num +6
        return f'{num}-{num1} hours'  # Round to nearest 10 up to 150
    else:
        return 'Over-156 hours'
    
# Apply categorization with proper indexing
SP_itra_df['Finish Category'] = SP_itra_df['Duration_Hours'].apply(categorize_duration)
print(SP_itra_df['Finish Category'].unique())

# Define the desired order of categories
finish_category_order = ['60-69 hours', '70-79 hours',
                         '80-89 hours', '90-99 hours' ,
                         '100-109 hours', '110-119 hours',
 '120-129 hours', '130-139 hours',
                         '140-149 hours', '150-156 hours',
 'Over-156 hours', 'DNF' ]

# Set 'Finish Category' as a categorical column with the defined order
SP_itra_df['Finish Category'] = pd.Categorical(
    SP_itra_df['Finish Category'],
    categories = finish_category_order,
    ordered = True
)


# Display the DataFrame
SP_itra_df[['Year','Race', 'Duration_Hours', 'Finish Category']]

['80-89 hours' '90-99 hours' '100-109 hours' '110-119 hours'
 '120-129 hours' '130-139 hours' '140-149 hours' '150-156 hours'
 'Over-156 hours' 'DNF' '60-69 hours' '70-79 hours']

      Year    Race  Duration_Hours Finish Category
0     2024   SP360       87.158889     80-89 hours
1     2024   SP360       98.001667     90-99 hours
2     2024   SP360      100.349167   100-109 hours
3     2024   SP360      100.349167   100-109 hours
4     2024   SP360      103.158611   100-109 hours
...    ...     ...             ...             ...
1537  2020  SP360D             NaN             DNF
1538  2020  SP360D             NaN             DNF
1539  2020  SP360D             NaN             DNF
1540  2020  SP360D             NaN             DNF
1541  2020  SP360D             NaN             DNF

[1542 rows x 4 columns]

In [13]:
# grabbing all finishers 
SP_itra_df['Duration'] = SP_itra_df['Duration'].astype('str')

SP_itra_df = SP_itra_df[[
    'Name', 'ITRA_Nationality', 'Gender',  'Age', 'Age Category',
    'Duration','Duration_Seconds', 'Duration_Hours',
    'Status', 'Finish Category',
    'Race', 'Year',
]]
SP_itra_df
# SP_itra_df.to_excel(f'{race} Data/5. Clean Data for Data Visualisation/{race}_itra_including_DNF.xlsx' , index = False)

,Name,ITRA_Nationality,Gender,Age,Age Category,Duration,Duration_Seconds,Duration_Hours,Status,Finish Category,Race,Year
0,Collison Kim,GBR,M,44,V1,3 days 15:09:32,313772.0,87.158889,Finished,80-89 hours,SP360,2024
1,Bourguignon Matthieu,FRA,M,45,V1,4 days 02:00:06,352806.0,98.001667,Finished,90-99 hours,SP360,2024
2,Barbier Adrien,FRA,M,35,SEN,4 days 04:20:57,361257.0,100.349167,Finished,100-109 hours,SP360,2024
3,Galve Sainz De Varanda Jorge,ESP,M,39,SEN,4 days 04:20:57,361257.0,100.349167,Finished,100-109 hours,SP360,2024
4,Orradre Inigo,ESP,M,46,V1,4 days 07:09:31,371371.0,103.158611,Finished,100-109 hours,SP360,2024
...,...,...,...,...,...,...,...,...,...,...,...,...
1537,Binder Hubert,FRA,M,52,V2,NaT,NaN,NaN,DNF,DNF,SP360D,2020
1538,Binder Marie,FRA,F,50,V2,NaT,NaN,NaN,DNF,DNF,SP360D,2020
1539,Braga Andrea,FRA,M,32,SEN,NaT,NaN,NaN,DNF,DNF,SP360D,2020
1540,Krumm Tobias,GER,M,43,V1,NaT,NaN,NaN,DNF,DNF,SP360D,2020
1541,Warlich Anke,GER,F,40,V1,NaT,NaN,NaN,DNF,DNF,SP360D,2020

In [14]:
SP_itra_df.groupby(['Status', 'Year'])['Status' ].count().to_frame('count').reset_index()

      Status  Year  count
0        DNF  2018    107
1        DNF  2019     94
2        DNF  2020     82
3        DNF  2022    115
4   Finished  2018    193
5   Finished  2019    146
6   Finished  2020    154
7   Finished  2021    196
8   Finished  2022    143
9   Finished  2023    161
10  Finished  2024    151

### Extracting only Finishers

In [15]:
# SP_itra_df
SP_itra_no_DNF = SP_itra_df[(SP_itra_df['Status'] != 'DNF') ].reset_index(drop = True)
SP_itra_no_DNF = SP_itra_no_DNF[[
    'Name', 'ITRA_Nationality', 'Gender',  'Age', 'Age Category',
    'Duration','Duration_Seconds','Status',
    'Race', 'Year'
]]

In [16]:
SP_itra_no_DNF['Status'].unique()

array(['Finished'], dtype=object)

In [17]:
SP_itra_no_DNF.isna().sum()

Name                0
ITRA_Nationality    0
Gender              0
Age                 0
Age Category        0
Duration            0
Duration_Seconds    0
Status              0
Race                0
Year                0
dtype: int64

In [18]:
SP_itra_no_DNF.head()

,Name,ITRA_Nationality,Gender,Age,Age Category,Duration,Duration_Seconds,Status,Race,Year
0,Collison Kim,GBR,M,44,V1,3 days 15:09:32,313772.0,Finished,SP360,2024
1,Bourguignon Matthieu,FRA,M,45,V1,4 days 02:00:06,352806.0,Finished,SP360,2024
2,Barbier Adrien,FRA,M,35,SEN,4 days 04:20:57,361257.0,Finished,SP360,2024
3,Galve Sainz De Varanda Jorge,ESP,M,39,SEN,4 days 04:20:57,361257.0,Finished,SP360,2024
4,Orradre Inigo,ESP,M,46,V1,4 days 07:09:31,371371.0,Finished,SP360,2024

In [19]:
SP_itra_no_DNF.groupby(['Status', 'Year'])['Status', 'Year'].count()

C:\Users\Karina\AppData\Local\Temp\ipykernel_17444\74827669.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  SP_itra_no_DNF.groupby(['Status', 'Year'])['Status', 'Year'].count()

               Status  Year
Status   Year
Finished 2018     193   193
         2019     146   146
         2020     154   154
         2021     196   196
         2022     143   143
         2023     161   161
         2024     151   151

### This data might be used later data Visualisations

In [20]:
# grabbing all finishers 
SP_itra_no_DNF['Duration'] = SP_itra_no_DNF['Duration'].astype('str')

SP_itra_no_DNF.to_excel(f'Data/SwissPeaks360_itra_no_DNF.xlsx' , index = False)

### Extracting only 2018 and 2019 for the merge of all DNFs with scraped data

In [21]:
SP_itra_including_DNF_df = SP_itra_df[(SP_itra_df['Year'] == 2018) |
              (SP_itra_df['Year'] == 2019)]

In [22]:
# grabbing all finishers 
SP_itra_including_DNF_df['Duration'] = SP_itra_including_DNF_df['Duration'].astype('str')

SP_itra_including_DNF_df.to_excel(f'Data/SwissPeaks360_itra_including_DNF.xlsx' , index = False)

In [23]:
SP_itra_df[SP_itra_df['Year'] == '2019']

,Name,ITRA_Nationality,Gender,Age,Age Category,Duration,Duration_Seconds,Duration_Hours,Status,Finish Category,Race,Year
908,Mattiato Andrea,ITA,M,41,V1,3 days 09:39:14,293954.0,81.653889,Finished,80-89 hours,SP360,2019
909,Russi Jonas,SUI,M,34,SEN,3 days 14:35:48,311748.0,86.596667,Finished,80-89 hours,SP360,2019
910,Herrero Albert,ESP,M,37,SEN,3 days 20:29:18,332958.0,92.488333,Finished,90-99 hours,SP360,2019
911,Bolis Matteo,ITA,M,40,V1,3 days 22:08:18,338898.0,94.138333,Finished,90-99 hours,SP360,2019
912,Mathieu Jean Claude,FRA,M,56,V2,3 days 22:35:32,340532.0,94.592222,Finished,90-99 hours,SP360,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
1143,Walti Philippe,SUI,M,55,V2,NaT,NaN,NaN,DNF,DNF,SP360,2019
1144,Xu Jinsong,CHN,M,49,V1,NaT,NaN,NaN,DNF,DNF,SP360,2019
1145,Zanella Rudj,ITA,M,45,V1,NaT,NaN,NaN,DNF,DNF,SP360,2019
1146,Zeiter Olivier,SUI,M,45,V1,NaT,NaN,NaN,DNF,DNF,SP360,2019
1147,Ziamparas Dimitrios,GRE,M,50,V2,NaT,NaN,NaN,DNF,DNF,SP360,2019

In [24]:
for i in SP_itra_df['Finish Category'].unique():
    print(i)

80-89 hours
90-99 hours
100-109 hours
110-119 hours
120-129 hours
130-139 hours
140-149 hours
150-156 hours
Over-156 hours
DNF
60-69 hours
70-79 hours

In [25]:
SP_itra_df[pd.isna(SP_itra_df['Finish Category'])]

Empty DataFrame
Columns: [Name, ITRA_Nationality, Gender, Age, Age Category, Duration, Duration_Seconds, Duration_Hours, Status, Finish Category, Race, Year]
Index: []